In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Question 2:**
How do you create an identity matrix in python?

In [2]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

**Importing my dataset**

In [3]:
#Importing my dataset
url = 'http://bit.ly/HDSC-Dataset'
fuel_data = pd.read_csv(url, error_bad_lines=False)

In [4]:
fuel_data.describe(include='all')

                       record_id  ...  fuel_cost_per_mmbtu
count                      29523  ...         29523.000000
unique                     29523  ...                  NaN
top     f1_fuel_2002_12_134_1_10  ...                  NaN
freq                           1  ...                  NaN
mean                         NaN  ...            19.304354
std                          NaN  ...          2091.540939
min                          NaN  ...           -41.501000
25%                          NaN  ...             1.940000
50%                          NaN  ...             4.127000
75%                          NaN  ...             7.745000
max                          NaN  ...        359278.000000

[11 rows x 11 columns]

In [5]:
fuel_data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

**Question 3:**
Which of the following fuel type code has the lowest average fuel cost per unit burned

In [6]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean() #Lowest average fuel cost per unit burned

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

**Question 4:**
What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [7]:
fuel_data.describe() # Calculating Standard deviation & 75th percentile

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

**Question 5:**
What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [8]:
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [9]:
fuel_data['fuel_qty_burned'].kurtosis()

651.3694501337732

**Question 6:**
Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?

In [10]:
len(fuel_data)

29523

In [11]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [12]:
fuel_data['fuel_unit'].isnull().sum()

180

In [13]:
(fuel_data['fuel_unit'].isnull().sum()/len(fuel_data))*100  #Percentage of missing row

0.609694136774718

**Question 8:**
Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit burned?

In [14]:
fuel_data.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

**Question 10:**
Which Year has the highest average fuel cost per unit delivered?

In [15]:
fuel_data.groupby('report_year').sum()

             utility_id_ferc1  ...  fuel_cost_per_mmbtu
report_year                    ...
1994                   131059  ...           3812.41711
1995                   132277  ...           3445.47398
1996                   118281  ...           2933.11773
1997                   118553  ...           3406.15391
1998                   121599  ...           3072.87907
1999                   113634  ...           2877.26381
2000                   152518  ...           5778.13677
2001                   153935  ...           6254.76430
2002                   145027  ...           7502.66915
2003                   149317  ...           8748.18305
2004                   144379  ...          10062.38345
2005                   153585  ...          11924.89239
2006                   145653  ...          12852.49312
2007                   146675  ...          13569.26878
2008                   148324  ...          15583.46077
2009                   144366  ...          12976.87791
2010                   148789  ...          10783.08510
2011                   150126  ...          11454.61288
2012                   150117  ...          10949.46763
2013                   146377  ...          11160.56228
2014                   151368  ...          11785.73171
2015                   140551  ...           8803.41655
2016                   137643  ...           7150.74370
2017                   130209  ...         366155.19606
2018                   127120  ...           6879.19432

[25 rows x 6 columns]